*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1{
    display: flex;
}

.lady1{
    width: 125% !important;
    mix-blend-mode: darken !important;
  }

  .male1{
    width: 110% !important;
    margin-left: -26px !important;
    mix-blend-mode: darken !important; 
  }
